body {
  background-color: aqua;
}
p {
  font-size: 40pt;
  color: rgb(216, 29, 29);
  text-align: center;
}
p1 {
  font-size: 30pt;
  color: rgb(15, 15, 51);
}

 
}
p2 {
 
  color: rgb(216, 29, 29);
  font-size: 25pt;
}
.customTable, .customTable td, .th{
 border: 1px solid gray; 
  text-align: left;
  color: rgb(216, 29, 29);
  font-size: 20pt;

}
.customTable{
  margin: 15 px;
  width: 500px;
  border-collapse: collapse;
  background-color: white;
}

