body {
  /*background-color: aqua;*/
  background-image: url("immagini/mare.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400pt;
}

h1 {
  text-shadow: -1px 0 black, 0 7px black, 1px 0 black, 0-1px black;
  font-size: 40pt;
  color: rgb(231, 68, 14);
  text-align: center;
}

p1 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0-1px black;
  font-size: 25pt;
  color: rgb(218, 10, 10);
}

p2 {
  color: rgb(216, 29, 29);
  font-size: 25pt;
}

.customTable,
.customTable,
td,
.t {
  text-align: center;
  color: rgb(216, 29, 29);
  font-size: 20pt;
}

.customTable {
  margin: 15 px;
  width: 300px;
  border-collapse: collapse;
  background-color: #f5fffa;
  border-radius: 10px;
}
h3 {
  color: rgb(9, 9, 187);
}
.bottone {
  padding: 5px 10px;
  border-radius: 50px;
  background-color: greenyellow;
  color: black;
}
