body {
  background-image: url("immagini/aurora.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400pt;
}

h1 {
  text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0-1px black;
  font-size: 25pt;
  color:	#00BFFF;
  text-align: center;
}

p1 {
  text-shadow: -0px 0 black, 0 0px black, 3px 0 black, 0-0px black;
  font-size: 25pt;
  color: #00BFFF;
}
.customTable,
td {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFFAFA;
  text-shadow: -0px 0 black, 0 0px black, 3px 0 black, 0 0px black;
  font-size: 20pt;
}

.customTable {
  margin: 15 px;
  width: 350px;
  border-collapse: collapse;
  /*background-color: #f5fffa;*/
  border-radius: 10px;
}
th {
  color: #FFFAFA;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  color: #FFFAFA;
  text-shadow: -0px 0 black, 0 0px black, 3px 0 black, 0-0px black;
  font-size: 20pt;
}
.bottone {
  padding: 5px 10px;
  border-radius: 50px;
  background-color: blue;
  color: white;
}
